<div id="menu">
	<ul>
		<li
         {% if page.menu == "index" %}
          class="active"
         {% endif %}
        ><a href="{{ page.path || "" }}index.html">Home</a></li>
<!--		<li><a href="#">Blog</a></li> -->
		<li
         {% if page.menu == "get-husk" %}
          class="active"
         {% endif %}
        ><a href="{{ page.path || "" }}get-husk.html">Get Husk</a></li>
		<li
         {% if page.menu == "news" %}
          class="active"
         {% endif %}
        ><a href="{{ page.path || "" }}news.html">News</a></li>
		<li
         {% if page.menu == "docs" %}
          class="active"
         {% endif %}
        ><a href="{{ page.path || "" }}documentation.html">Documentation</a></li>
		<li
         {% if page.menu == "about" %}
          class="active"
         {% endif %}
        ><a href="{{ page.path || "" }}about.html">About</a></li>
	</ul>
    <a href="{{ page.path || "" }}index.html">
    <img style="margin-top: -27px; margin-left: -125px;" src="{{ page.path || "" }}images/husk-scheme.png" width="375" alt="husk scheme" />
    </a>
</div>
