<a href="https://github.com/justinethier/husk-scheme"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
<div id="menu">
	<ul>
		<li
         {% if page.menu == "index" %}
          class="active"
         {% endif %}
        ><a href="../../../index.html">Home</a></li>
<!--		<li><a href="../../../#">Blog</a></li> -->
		<li
         {% if page.menu == "get-husk" %}
          class="active"
         {% endif %}
        ><a href="../../../get-husk.html">Get Husk</a></li>
		<li
         {% if page.menu == "news" %}
          class="active"
         {% endif %}
        ><a href="../../../news.html">News</a></li>
		<li
         {% if page.menu == "docs" %}
          class="active"
         {% endif %}
        ><a href="../../../documentation.html">Documentation</a></li>
		<li
         {% if page.menu == "about" %}
          class="active"
         {% endif %}
        ><a href="../../../about.html">About</a></li>
	</ul>
    <a href="../../../index.html">
    <img style="margin-top: -27px; margin-left: -125px;" src="../../../images/husk-scheme.png" width="375" alt="husk scheme" />
    </a>
</div>
