	<div id="sidebar">
		<ul>
			<li>
				<h2>Recent Updates</h2>
				<ul>
                    {% for post in site.posts limit: 3 %}
                    <li>
                        <h3><span>{{post.date | date: "%b %d" }}: </span><a href="./{{post.url}}">{{post.title}}</a></h3>
                        <p style="text-align: justify;">
                            {{post.excerpt}}
                        </p> 
                    </li>
                    {% endfor %}
				</ul>
			</li>
			<li>
				<h2>Links</h2>
				<ul>
					<li><a href="manual/index.html">User Manual</a> <span style="font-size: smaller;">(Beta)</span> </li>
                    <li><a href="http://justinethier.github.com/husk-scheme/API/{{site.husk_build_number}}/index.html">Haskell API documentation</a></li>
					<li><a href="https://github.com/justinethier/husk-scheme">GitHub repository</a></li>
					<li><a href="https://github.com/justinethier/husk-scheme/issues">Report a bug</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div style="clear: both;">&nbsp;</div>
